$boxsize: 70px;
$gap: 10px;
$boardwidth: 6;

:root {
    --image-overlay: -100%;
}

*{
    box-sizing: border-box;
}


body {
    font-size: 20px;
    background-color: #3C3C64;
}

.main {
    margin: 25% 0;
}

.container {
    display: grid;
    grid-template-columns: repeat($boardwidth, 1fr);
    gap: $gap
    
}


.piece {
    width: $boxsize;
    height: $boxsize;
    // background-color: white; 
    display: flex;
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        
        align-content: center;
        justify-content: center;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        background-color: white;
        margin-left: var(--image-overlay);
        transition: all 0.2s;
    }

    &:hover {
        outline: 4px solid blue;

    }
}
